.title {
	text-align:center;
	font-size:50px;
}
.right {
	color:green;
}

.wrong {
	color:red;
}

h1.right, h1.wrong {
	width:250px;
}

body {
    background-image: url("../img/quiz.jpg");
    
}

/*h4#question0 {
	color: blue;
}*/